@import '../../styles/colors';

$change: 10%;
$color: lighten($base_color, 30%);

.button {
  background-color: $color;
  padding: 4px 8px;
  margin-right: 10px;
  border: 1px solid $grey;
  color: darken($blue, 10%);
  transition: 0.3s;
  cursor: pointer;

  &.disabled {
    background: lighten($color, 3.5%);
    cursor: not-allowed;
  }
  &:not(.disabled) {
    &:hover {
      color: darken($blue, 35%);
      background-color: lighten($color, 3%);
    }
    &:active {
      background-color: lighten($color, 7.5%);
    }
  }
  &.delete {
    color: $grey;
    border-color: darken($red, 5%);
    display: block;
    height: 100%;
    margin-left: -2px;
    position: relative;

    & .button-fill {
      position: absolute;
      display: block;
      overflow: hidden;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;

      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        color: lighten($black, 15%);
        background-color: transparentize(darken($red, 10%), 0.35);
        transition: 1s;
        transition: 1s ease-out;
        // z-index: -1;
      }
      &:hover {
        &:after {
          width: 105%;
          color: $black;
        }
      }
    }
    & .button-text {
      position: relative;
      display: block;
      overflow: hidden;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      z-index: 2;
    }
  }
}
