@import '../../styles/colors';

$change: 10%;
$color: lighten($base_color, 40%);

.button {
  display: inline-block;
  padding: 4px 8px;
  color: lighten($blue, 10%);
  transition: 0.3s;
  box-shadow: 0 0 0 1px lighten($grey, 25%);
  cursor: pointer;
  margin-right: 10px;
  background-color: darken($color, 2.5%);

  &:last-of-type {
    margin-right: 0;
  }

  &.disabled {
    background: lighten($color, 3.5%);
    color: lighten($grey, 30%);
    box-shadow: 0 0 0 1px lighten($grey, 50%);
    opacity: 0.25;
    cursor: not-allowed;
  }
  &:hover {
    color: darken($blue, 15%);
    box-shadow: 0 0 0 1px darken($grey, 10%);
    background-color: transparentize(lighten($sea-blue, 20%), 0.75);
  }
  &:active {
    box-shadow: 0 0 0 1px darken($sea-green, 10%);
    background-color: lighten($color, 7.5%);
  }
  // }
  &.delete {
    display: block;
    height: 100%;
    margin-left: -2px;
    position: relative;
    color: lighten($grey, 15%);
    &:hover {
      color: lighten($red, 50%);
      background-color: transparentize(darken($red, 10%), 0.35);
    }
  }
  & .button-text {
    position: relative;
    display: block;
    overflow: hidden;
    font-size: 1.4rem;
    text-align: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 2;
  }
}
