@import '../../styles/colors.scss';

ul.main-menu {
    background-color: $base-color; 
    margin: 0;
    padding: 50px 0;
    width: 200px;
    border: 10px solid darken($base-color, 12.5%);
    transition: .3s;
    &:hover{
        background-color: lighten($base-color, 2.5%); 
        border: 10px solid darken($base-color, 15%);
    }
    & li {
        font-size: 1.4rem;
        cursor: pointer;
        &.menu-item a{
            padding: 10px 32px;
            display: block;
            &:hover{
                background: darken($base-color, 15%);
                color: $white;
            }
        }
    }
}