@import '../../styles/colors';

.err {
  border-left: 2px solid $red;
  padding: 3px 5px;
  border-bottom: 1px dashed $red;
  background: transparentize( lighten($red, 20%), .7);
  & .error {
      font-size: 1.4rem;
      font-weight: 600;
  }

  & .error-msg {
    font-style: italic;
  }
}
