@import '../../../../styles/colors';

.herolist {
  ul {
    margin: 0;
    padding: 10px 24px;
    display: flex;
    flex-direction: column;

    li {
      padding: 8px 4px;
      font-size: 1.4rem;
      position: relative;

      &:hover {
        & a span.hero-name {
          background: lighten($blue, 30%);
          border-bottom: 2px dashed red;
        }
      }

      & .hero-head,
      & .hero-no-head {
        position: absolute;
        left: -28px;
        top: 0px;
        width: auto;
        height: 24px;
      }
      & .hero-no-head {
        left: -36px;
      }
      & a {
        display: block;
        & span {
          padding: 2px 4px;
        }
      }
    }
  }
}
