@import "../../styles/colors";

div.modal-container {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: transparentize(lighten($base_color, 30%), .15);
  & .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    height: 50vh;
    width: 50vw;
    background-color: lighten($base_color, 30%);
    border: 10px solid $light-blue;
    // box-shadow: 0 0 0 10px $black;

    & .title {
      flex: 10%;
    }
    & .content {
      flex: 80%;
    }
    & .buttons {
      flex: 10%;
      display: flex;
      justify-content: center;
    }
  }
}
